// Define your variable overrides here
// $enable-shadows: true;
// $enable-gradients: true;
// responsive breakpoints
// NOTE:
// Changes of these breakpoints should be
// aligned with the breakpoints defined
// in palette.styl.
//
// Because of differing syntax, there is
// currently no clean and easy solution,
// except for this comment.
// $grid-breakpoints: (
//   xs: 0,
//   sm: 456px,
//   md: 789px,
//   lg: 999px,
//   xl: 1234px
// );

$primary: #075069;
$secondary: #42b983;
$info: #0ea1d2;

// $primary: #0ea1d2;
// $secondary: #42b983;
// $info: #075069;

// Bootstrap and its default variables
// @import 'node_modules/bootstrap/scss/bootstrap';

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
// @import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
// @import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
// @import "node_modules/bootstrap/scss/nav";
// @import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
// @import "node_modules/bootstrap/scss/spinners";
// @import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

// BootstrapVue and its default variables
@import "node_modules/bootstrap-vue/src/index.scss";

// Include animate.css
@import "~animate.css/animate.min.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Ewert");
@import url("https://fonts.googleapis.com/css?family=Mogra");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Viga");
@import url("https://fonts.googleapis.com/css?family=Amaranth");
@import url("https://fonts.googleapis.com/css?family=Carter+One");
@import url("https://fonts.googleapis.com/css?family=Baloo");
// @import url("https://fonts.googleapis.com/css?family=Roboto|ZCOOL+KuaiLe");
